section {
  height: 40vmin;
  pointer-events: none;
}

main {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

main.dark {
  color: white;
  background-color: #282c34;
}
main.light {
  color: #282c34;
  background-color: rgb(250, 250, 250);
}
